<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ profile.user.username }}'s Profile</title>
</head>
<body>
    <h2>{{ profile.user.username }}'s Profile</h2>
    <p>Bio: {{ profile.bio }}</p>
    <p>Location: {{ profile.location }}</p>
    <a href="{% url 'profile_edit' %}">Edit Profile</a>
    <a href="{% url 'logout' %}"> Logout</a>
    <a href="{% url 'create_chat_room' %}"> Create Chat Room </a>
    <a href="{% url 'chat_room_list' %}">Chat Room</a>

    
</body>
</html>